.info-saldo, .info-transaction {
    background-color: white;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    margin-bottom: 20px;
    table-layout: fixed ;
    border-collapse: collapse;
}

.info-transaction td, .info-saldo td{
    padding:5px 0;
}

.info-transaction tr:first-child td{
    border-bottom: 1px solid #D3D5D5;
    padding: 10px 0 !important;
}

.info-transaction tr:last-child td{    
    padding:10px 0 !important;
}

.value-income {
    color:blue;
}

.value-expense{
    color: red;
}

.add-note {
    background-color: #4763BB;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 20px;
    float:right;
}

.add-note:hover {
    cursor: pointer;
}

.info-transaction:first-child tr{
    border-bottom: 50px solid black;
}

.button-add {
    background-color: #4763BB;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 5px;
    font-size: 1rem;    
}


.delete-button {
    background-color:#DF241B;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 5px;
    font-size: 0.9rem;   
}

.update-button {
    background-color:#2E9393;
    color: white;
    padding: 10px;
    border:none;
    border-radius: 5px;
    font-size: 0.9rem; 
    margin-left: 20px;
}

.delete-button:hover, .update-button:hover {
    cursor: pointer;
}